{% extends "layout.html" %}
{% block content %}
<h1 class="title">Gibt es heute <span aria-hidden="true">____</span>?</h1>
<p>
    Wir helfen dir, genau das zu finden, was du heute essen möchtest!
</p>
<form method="POST" action="">
    {{ form.hidden_tag() }}

    {{ form.query.label() }}
    {% if form.query.errors %}
    {{ form.query() }}
    <div>
        {% for error in form.query.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    <h2>{{ form.query() }}</h2>
    {% endif %}
    <div>
        {{ form.submit() }}
    </div>
</form>

Auch morgen Appetit? Versuchs mit <a href="https://gibtesmorgen.de">gibtesmorgen.de</a>!<br>
{% endblock %}
